.body {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.midbody {
  align-content: center;
  align-items:  baseline;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}