.menu {
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  height: 950px;
}

.home, .about, .contact, .projects {
  text-align: center;
  width: 150px;
  border-bottom: 1px solid red;
} 